*.suo
*.user
bin
obj
/Presentation/Nop.Web/Plugins/
/Presentation/Nop.Web/Content/Images/uploaded/
/Presentation/Nop.Web/App_Data/Settings.txt
/Presentation/Nop.Web/App_Data/InstalledPlugins.txt
/UpgradeLog5.htm
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
/Presentation/Nop.Web/Content/Images/Thumbs_old
